<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>Archetype Created Web Application</display-name>

  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>servlet.listeners.ContextListener</listener-class>
  </listener>
  <servlet>
  	<description>
  	</description>
  	<display-name>Storage</display-name>
  	<servlet-name>Storage</servlet-name>
  	<servlet-class>servlet.storage.Storage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>TestSet</display-name>
  	<servlet-name>TestSet</servlet-name>
  	<servlet-class>servlet.storage.TestSet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Storage</servlet-name>
  	<url-pattern>/Storage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestSet</servlet-name>
  	<url-pattern>/TestSet</url-pattern>
  </servlet-mapping>
</web-app>
